<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Admin theme">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>Admin page</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <!-- Propeller css -->
    <link rel="stylesheet" type="text/css" href="css/propeller.min.css">
    <!-- Propeller admin theme css-->
    <link rel="stylesheet" type="text/css" href="css/propeller-admin.css">
</head>
<!-- Styles Ends -->
</head>

<body>
   
	{{{body}}}
			
    {{>scripts}}

</body>

</html>
